.containerCard {
  height: 400px;
  display: flex;
  align-items: flex-end;
}

.image {
  z-index: -1;
  position: absolute;
  max-height: 100%;
  width: 320px;
}

.wrapperText {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), black 80%) ;
  color: white;
  padding: 10px;
}

.mybtn {
  display: inline-block;
  color: white;
  background-color: crimson;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin: 5px 10px;
}

.h2class {
  margin: 5px 10px;
}

.pclass {
  margin: 5px 10px;
}
