.bm-item {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 900;
  transition: color 0.5s, ease-in 0.5s;
  width: 100%;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bm-item:hover {
  background-color: rgba(108, 92, 231,1.0);
  cursor: pointer;
}

.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  left: 26px;
  top: 10px;
}

.bm-burger-bars {
  background: #e84393;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: black;
}

.bm-overlay,
.bm-menu,
.bm-menu-wrap {
  top: 40px;

}

.bm-menu {
  background: rgba(162, 155, 254,1.0);
  padding: 0;
  font-size: 1.15em;
  width: 300px;
  
}


.bm-morph-shape {
  fill: black;
}

.bm-item-list {
  color: white;
}


