@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  background-color: #273c75;
  /* background-image: url("./img/navBack.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100vw;
}

.navBar img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  margin-top: 3px;
}

.searchImg {
border-radius: 50%;
}

.navBar input {
  width: 100%;
  margin-left: 45px;
  border-radius:  10px 0 0 10px;
  border: none;
  height: 30px;
  padding: 0;
  padding-left: 5px;
}



.searchIcon {
  max-width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0 10px 10px 0;
  margin-right: 0px;
  background-color: white;
}

.carousel1,
.carousel2,
.carousel3 {
  margin-top: 30px;
}


.carousel1{
  display: flex;
}

.carousel2 {
  display: none;
}

.carousel3 {
  display: none;
}

.arrow {
  height: 30px;
  width:30px;
  position: absolute;
  top: 140px;
  -webkit-filter: invert();
  transition: all 0.2s ease;
  
}

.arrow:active{
  transform: scale(1.1);
}

.left {
  left: 2vw;
}

.right {
  left: 90vw;
}

.arrow img {
  max-width: 100%;
}

.carouselStory {
  position: relative;
}

.containerCard {
  height: 250px;
  align-items: flex-end;
}

.image {
  z-index: -1;
  position: absolute;
  max-height: 100%;
  width: 100%;
}

.wrapperText {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), black 80%) ;
  color: white;
  padding: 10px;
}

.wrapperText p {
  margin-left: 8vw;
  margin-right: 8vw;
}

.mybtn {
  display: inline-block;
  color: white;
  background-color: crimson;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin: 5px 10px;
}

.h2class {
  margin: 5px 10px;
}

.pclass {
  margin: 5px 10px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 900;
  transition: color 0.5s, ease-in 0.5s;
  width: 100%;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bm-item:hover {
  background-color: rgba(108, 92, 231,1.0);
  cursor: pointer;
}

.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #e1b12c;
  display: inline-block;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: black;
}

.bm-overlay,
.bm-menu,
.bm-menu-wrap {
  top: 40px;

}

.bm-menu {
  background: rgb(39, 60, 117);
  padding: 0;
  font-size: 1.15em;
  width: 300px;
  
}

.bm-morph-shape {
  fill: black;
}

.bm-item-list {
  color: white;
}

hr {
  border-top: 3px solid rgba(116, 185, 255,1.0);
  padding-bottom: 0;
  border-bottom: none;
  }

.headingLayout {
  background-color: #273c75;
  color: white;
  /* margin-left: 40px; */
  height: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
}

.pattern {

  padding-bottom: 1rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto ;
}

.pattern h2 {
  margin-bottom: 1rem;
}

.pattern1{
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/seamless-tropical-pattern-kotkoa.jpg);
  padding: 20px;
}

.imagetelmo {
  width: 90%;
  /* display: flex; */
  justify-items: self-start;
  margin: auto;
  max-height: 70%;
  text-align: left;
}

.telmoimage {
  width: 35%;
  height: 50%;
  display: inline;
  float: left;
  margin: 0 6px 3px 0;
  /* padding: 5px; */
}

.telmoinfo {
  /* display: inline; */
  /* float: right; */
  background-color: rgb(78, 78, 153);
  color: white;
  overflow: hidden;
  max-height: 100%;
  padding: 10px;
  border-radius: 5%;
}

.telmoH2 {
  padding: 0px;
  margin: 5px;
  font-family: 'Righteous', cursive;
}

.telmoinfo p {
  display: inline;
}

/* 
.pattern1 img{
  border: solid white 10px;
  display: flex;
  align-content: center;
} */

.pattern2{
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/1-tropical-jungle-floral-seamless-pattern-sv-sunny.jpg);
}

.pattern3{
  background-image: url(https://cdn5.vectorstock.com/i/1000x1000/26/94/seamless-tropical-pattern-tropical-color-vector-15202694.jpg);
}

.pattern4{
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/tropical-floral-seamless-pattern-with-ekaterina-bedoeva.jpg);
}

.pattern5{
  background-image: url(https://cdn.dribbble.com/users/1726146/screenshots/6832676/tropical_pattern.png);

}

.containerGrid {
  display: flex;
  margin: 0px 10px 10px 10px;
  align-items: center;
  background-color: #f9ca24;
  border-radius: 10%;
}

.telmocss {
  width: 50%;
  height: 50%;
  padding: 5px 5px 5px 5px;
}

.wrapperGrid {
  margin: 1px;
  padding: 5px;
  font-size: 10px;
  background-color: #f6e58d;
  border-radius: 0 10% 10% 0; 
}

.textclass {
  margin: 5px;
  background-color: #f6e58d;
  /* font-family: 'Righteous', cursive; */
}

.mybtnBlock {
  display: inline-block;
  color: white;
  background-color: crimson;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 10px;
  margin: 5px 10px;
}

/* ARTICLE CSS */

.containerArticle {
  padding-left: 10px;
  padding-right: 10px;
}

.textArticle {
  background-color: #7ed6df;
  border-radius: 10%;
}

.articleH2 {
  padding: 5px;
  padding-bottom: 0px;
  margin: 5px;
  font-family: 'Righteous', cursive;
}

.articleP {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 5px;
}

.wrapperArticle {
  margin-top: 10px;
}

/* .mybtnArticle {
  display: inline-block;
  color: white;
  background-color: crimson;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px 10px;
} */

.blackholeImage {
  height: 50%;
  width: 250px;
  border-radius: 10%;
  border: 10px solid #7ed6df;
  margin: -25px;
  margin-bottom: 5px;
  
}

/* HEALTH CSS  */

.containerHealth {
 display: flex;
 color: black;
 background-color: #c8d6e5;
 margin: 15px;
 background-color: #1dd1a1;
 margin: 5px;
 border-radius: 10px;
}

.textHealth {
  margin: 0px;
  padding: 0px;
}

.healthH2 {
  margin: 10px;
  padding: 0px;
  font-family: 'Righteous', cursive;
}

.healthP {
  margin: 10px;
  padding: 0px;
}

.wrapperHealth {
  padding: 10px;
}

.healthImage {
  width: 120px;
  margin: 10px;
  margin-top: 20px;
}

/* ========================================================================================================================================*/
/* ========================================================================================================================================*/
/* ========================================================================================================================================*/
/* MEDIA QUERIES ===========================================================================================================================*/

@media only screen and (min-width: 500px) {
/* .banner{
  max-width: 500px;
  max-height: 250px;
  margin: auto;
} */
.carousel1{
  max-width: 500px;
  max-height: 250px;
  margin: auto;
  box-shadow: 50px 0 30px 10px rgba(31, 73, 125, 0.8), -50px 0 30px 10px rgba(31, 73, 125, 0.8);
  z-index: -3;
}

.carousel3,
.carousel2 {
  position: fixed;
  top: 75px;
  display: inline-flex;
  z-index: -5;
  
}



.carousel3 a,
.carousel2 a {
  display: none;
}

.carousel2 {
left: 0;
}

.carousel3 {
  right: 0;
}

.carousel3 img {
  position: fixed;
  right: 0;
  top: 40px;
  
}

.carousel2 img {
  position: fixed;
  left: 0;
  top: 40px;
}

.containerCard .wrapperText,
.containerCard .image{
  max-width: 500px;
}


.left {
  left: 10vw;
  top: 60px;
}

.right {
  right: 10vw;
  top: 60px;
}
}

@media only screen and (min-width: 570px) {
  .pattern3 img {
    max-width: 192px;
    max-height: 283px;
  }
}

@media only screen and (min-width: 740px) {
  .maincontainerTelmo {
    max-width: 630px;
    max-height: 237px;
    margin: auto;
 
  }

  .textArticle{
    max-width: 630px;
    max-height: 240px;
    margin: auto;
  }

  .containerGrid{
    display: flex;
    justify-content: space-between;
    background-color: #f9ca24;
    max-width: 80%;
    margin: auto;
  }
  
  .wrapperGrid{
    width: 60%;
    margin-right: 10%;
  }

  .containerHealth{
    max-width: 630px;
    max-height: 240px;
    margin: auto;
    margin-bottom: 5px;
  }

}

@media only screen and (min-width: 1500px){
  .containerHealth{
  display: inline-block;
  height: 400px;
  width: 25%;
  margin: 0 10px 0 10px;
  }

  .wrapperHealth{
    padding: 0;
  }
}

.titleBar{
  background-color: none ;
  color: white;
  margin-top: -23px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: 'Calistoga', cursive;

}
