.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  background-color: #273c75;
  /* background-image: url("./img/navBack.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 5px;
  padding-bottom: 5px;
}

.navBar img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

.searchImg {
border-radius: 50%;
}

.navBar input {
  width: 100%;
  margin-left: 45px;
  border-radius:  10px 0 0 10px;
  border: none;
  height: 30px;
  padding: 0;
  padding-left: 5px;
}



.searchIcon {
  max-width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  background-color: white;
}

.carousel1{
  display: flex;
}

.carousel2 {
  display: none;
}

.carousel3 {
  display: none;
}

.arrow {
  height: 30px;
  width:30px;
  position: absolute;
  top: 140px;
  -webkit-filter: invert();
  transition: all 0.2s ease;
  
}

.arrow:active{
  transform: scale(1.1);
}

.left {
  left: 2vw;
}

.right {
  left: 90vw;
}

.arrow img {
  max-width: 100%;
}

.carouselStory {
  position: relative;
}

.containerCard {
  height: 250px;
  align-items: flex-end;
}

.image {
  z-index: -1;
  position: absolute;
  max-height: 100%;
  width: 100%;
}

.wrapperText {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), black 80%) ;
  color: white;
  padding: 10px;
}

.wrapperText p {
  margin-left: 8vw;
  margin-right: 8vw;
}

.mybtn {
  display: inline-block;
  color: white;
  background-color: crimson;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin: 5px 10px;
}

.h2class {
  margin: 5px 10px;
}

.pclass {
  margin: 5px 10px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 900;
  transition: color 0.5s, ease-in 0.5s;
  width: 100%;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bm-item:hover {
  background-color: rgba(108, 92, 231,1.0);
  cursor: pointer;
}

.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #e1b12c;
  display: inline-block;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: black;
}

.bm-overlay,
.bm-menu,
.bm-menu-wrap {
  top: 40px;

}

.bm-menu {
  background: rgba(162, 155, 254,1.0);
  padding: 0;
  font-size: 1.15em;
  width: 300px;
  
}


.bm-morph-shape {
  fill: black;
}

.bm-item-list {
  color: white;
}


hr {
  border-top: 3px solid rgba(116, 185, 255,1.0);
  padding-bottom: 0;
  border-bottom: none;
  }

.headingLayout {
  margin-left: 40px;
  margin-bottom: -7px;
}

.pattern1{
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/seamless-tropical-pattern-kotkoa.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.pattern1 img{
  border: solid white 10px;
  display: flex;
  align-content: center;
}

.pattern2{
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/1-tropical-jungle-floral-seamless-pattern-sv-sunny.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.pattern3{
  background-image: url(https://cdn5.vectorstock.com/i/1000x1000/26/94/seamless-tropical-pattern-tropical-color-vector-15202694.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.pattern4{
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/tropical-floral-seamless-pattern-with-ekaterina-bedoeva.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.pattern5{
  background-image: url(https://cdn.dribbble.com/users/1726146/screenshots/6832676/tropical_pattern.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}